* {
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  background-image: url("OIP.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.area {
  background-color: azure;
  height: 318px;
  width: 318px;
  border: 2px black solid;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  background-color: aqua;
  height: 95px;
  width: 95px;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  font-size: 60px;
  align-items: center;
  justify-content: center;
}

.rock,
.paper,
.scissors {
  background-color: bisque;
  position: relative;
}
